*{
    margin: 0;
    padding: 0;
  }
  body{
   font-family: 'Poppins', sans-serif;
  }
  container{
    width: 1140px;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
  
  }
  /* main css start */
  .header-section {
    background: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .header-section  img {
    height: auto;
    width: 130px;
  }
  .header-section .navbar-nav ul{
    margin: auto;
  }
  .header-section .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #002c3e;
    text-transform: uppercase;
  }
  .header-section .nav-link:hover{
   
    color: #f7444e;
   
  }
  .header-section .h-icon{
    
  }
  .header-section .h-icon i {
    color: white;
    background: #002c3e;
    border-radius: 50%;
    font-size: 20px;
    height: 42px;
    width: 43px;
    line-height: 42px;
    margin-left: 10px;
    text-align: center;
   transition: .05s;
  }
  .header-section .h-icon i:hover {
    color: white;
    background:#f7444e;
   transition: .05s;
   
  }
  /* inner section   */
  .inner_page_head{
    
        background: #f7444e;
        text-align: center;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 40px;
        
       
  }
  .inner_page_head h3{
    font-size: 42px;
    font-weight: 800;
  }


  /* product section  */

  .product_section_a{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
  }
  .product_section_a h1 {
        color: #002c3e;
  }
  .product_section_a span {
    color: #f7444e;
  }
  .product_section_b{
    padding-top: 90px;
  }
  .product_section {
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .product_section .container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
  .product_section_b img {
    width: 300px;
    height: 300px;
    border: 2px solid rgba(255, 61, 0, 0.21);
    margin: 10px;
    cursor: pointer;
    transition: all 400ms ease 0s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 47px;
  }
  .product_section_b img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
  }


  /* button section */

.button{
    display: inline-block;
    padding: 10px 40px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
   margin-top: -45px;
   margin-bottom: 70px;
   margin-left: 500px;
    transition: all 0.3s;
}
.button:hover {
    background-color: transparent;
    color: #f7444e;
   transition: .05s;
   
  }


  /* footer section */
.footer-part {
    width: 100%;
    height: 350px;
    background:#002c3e;
    padding: 90px 0px;
  }
    .footer-part .para-part{
    color: white;
    
    }
    .footer-part .para-part p {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 30px;
    }
    .footer-part  h5 {
        color: white;
        font-weight: 700;
        font-size: 18px;
        margin-left: 19px;
        text-transform: uppercase;
    }
  .footer-part .icon-part{
    display: flex;
  }
  
  .footer-part .icon-a{
   color:white;
   padding: 10px 15px;
   background:rgb(26, 105, 231) ;
   margin-left: 10px;
   font-size: 20px;
   transition: .5s;
  }
  
  .footer-part .icon-a:hover{
    color:rgb(26, 105, 231) ;
    background: wheat;
    transition: .5s;
   }
  .footer-part .icon-b{
    color:white;
    padding: 10px 15px;
    background:rgb(4, 68, 171);
    margin-left: 10px;
    font-size: 20px;
    transition: .5s;
   }
   .footer-part .icon-b:hover{
    color:rgb(4, 68, 171) ;
    background: wheat;
    transition: .5s;
   }
  
   .footer-part .icon-d{
    color:white;
    padding: 10px 15px;
    background:red;
    margin-left: 10px;
    font-size: 20px;
    transition: .5s;
   }
   .footer-part .icon-d:hover{
    color:red ;
    background: wheat;
    transition: .5s;
   }
  
   .footer-part .icon-e{
    color:white;
    padding: 10px 15px;
    margin-left: 10px;
    background-image: linear-gradient(red ,blue);
    font-size: 20px;
    transition: .5s;
   }
  
   .footer-part .icon-e:hover{
    color:rebeccapurple ;
    background: wheat;
    transition: .5s;
   }
   .footer-part .icon-f{
    color:white;
    padding: 10px 15px;
    margin-left: 10px;
   background: rgba(86, 9, 9, 0.769);
   font-size: 20px;
   transition: .5s;
   }
   .footer-part .icon-f:hover{
    color:rgba(86, 9, 9, 0.769) ;
    background: wheat;
    transition: .5s;
   }
  
   .footer-part .btn-info {
    font-size: 18px;
    padding: 7px 15px;
    background: dodgerblue;
    transition: .5s;
  }
  .footer-part .btn-info:hover{
    color:black ;
    background:#94CDD5;
    transition: .5s;
   }
   .footer-part .part-a{
   
   }
   .footer-part ul{
   list-style: none;
   color: white;
   line-height: 30px;
   }
   .footer-part ul li{
   font-weight: 400;
   font-size: 16px;
   
   }
   .footer-part .end-part{
   color: white;
   text-align: center;
   padding: 20px 0px;
   }
   .footer-part .end-part p{
   
     }
     .footer-part .get  h5 {
      color: white;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 8px;
  }
